/* Override backgroud so white images blend */
body {
    background: white;
}

/* Imported from slides.com */
.reveal .sl-block {
display: block;
position: absolute;
z-index: auto;
pointer-events: none
}

.reveal .sl-block .sl-block-style {
display: block;
position: relative;
width: 100%;
height: 100%;
max-width: none;
max-height: none;
margin: 0;
outline: 0;
will-change: opacity
}

.reveal .sl-block .sl-block-content {
display: block;
position: relative;
width: 100%;
height: 100%;
max-width: none;
max-height: none;
margin: 0;
outline: 0;
word-wrap: break-word
}

.reveal .sl-block .sl-block-content .sl-block-content-preview:not(.inline) {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0
}

.reveal .sl-block .sl-block-content>:first-child {
margin-top: 0
}

.reveal .sl-block .sl-block-content>:last-child {
margin-bottom: 0
}

.reveal section:not(.stack):not([data-background-interactive="true"]).present .sl-block-content {
pointer-events: auto
}

.reveal .sl-block[data-block-type="image"] .sl-block-content {
overflow: hidden
}

.reveal .sl-block[data-block-type="image"] .sl-block-content img {
position: relative;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
border: 0;
vertical-align: top
}

.reveal .sl-block[data-block-type="image"] .sl-block-content svg {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0
}

.reveal .sl-block[data-block-type="image"] a.sl-block-content {
color: inherit
}

.reveal .sl-block[data-block-type="image"].is-cropping {
visibility: hidden
}

.reveal .sl-block[data-block-type="image"] .media-progress {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: column;
flex-flow: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.7);
font-size: 14px;
color: #fff;
text-align: center
}

.reveal .sl-block[data-block-type="line"] svg {
display: block;
vertical-align: top;
overflow: visible;
-webkit-transform: scale(0.9999999);
transform: scale(0.9999999)
}

.reveal .sl-block[data-block-type="line"] .sl-block-content {
pointer-events: none !important
}

.reveal .sl-block[data-block-type="line"] svg * {
pointer-events: auto;
pointer-events: all
}

/* Copied from CLI slides */

.reveal .slides {
line-height: 1.1em;
}

.reveal p,
.reveal ul,
.reveal ol,
.reveal pre {
margin-bottom: 0.75em;
}

.reveal ul,
.reveal ol {
width: max-content;
max-width: 100%;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
padding-left: 2em;
}

.reveal li {
margin-bottom: 0.25em;
}

.reveal strong,
.reveal b {
font-family: gotham-book, helvetica, sans-serif;
font-weight: bold;
}

.reveal em,
.reveal i {
font-style: italic;
}

.reveal small {
font-size: 75%;
}

.reveal code {
font-family: Monaco, monospace;
}

.reveal p code,
.reveal li code {
background-color: #ddd;
padding: 2px 8px;
border-radius: 3px;
}

.reveal section img {
margin: 0;
border: none;
box-shadow: none;
}
