@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("fonts/Gotham/Gotham-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("fonts/Gotham/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Italic";
  src: local("Gotham-Italic"), url("fonts/Gotham/Gotham-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"), url("fonts/Gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fcf3e0;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #fcf3e0 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #fcf3e0));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #fcf3e0 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #fcf3e0 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #fcf3e0 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #fcf3e0 100%);
  background-color: #f7fbfc; }

.reveal {
  font-family: "Gotham-Book", "Helvetica", Arial, sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f05b62;
  font-family: "Gotham-Bold", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #92bb44;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #f9b8bb;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #92bb44; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #92bb44;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #92bb44; }

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #92bb44; }

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #92bb44; }

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #92bb44; }

.reveal .controls div.left.enabled:hover {
  border-right-color: #f9b8bb; }

.reveal .controls div.right.enabled:hover {
  border-left-color: #f9b8bb; }

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #f9b8bb; }

.reveal .controls div.down.enabled:hover {
  border-top-color: #f9b8bb; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #92bb44;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

  .reveal footer{
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 3px;
    left: 0;
    z-index: 10; 
    font-size: 35%;
    text-align:right;
    background-image: url(../images/pink-logo.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.reveal footer .copyright{
    margin:15px 5px 0 100px;
}
.reveal footer .copyright a img{
    vertical-align: middle;
}

/*********************************************
* OVERRIDES
**********************************************/
.left-align{text-align:left}
.right-align{ text-align:right}
.left{float:left}
.right{float:right}
.clear{clear:both}
.blue{color:#01A9B4 }
.green{color:#92BB44}
.yellow{color:#EDAB23}
.pink{color:#F05B62}
.red{color:#8B0036}
