.present p,
.present li {
  margin-bottom: 15px;
  line-height: 1.2;
}

.present p,
.present ul,
.present ol {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 100%;
}

.present ul,
.present ol {
  padding-left: 2em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
