/*Overall Design*/

body {
	background-color: #D4FFAA;
	font-family: 'Helvetica','Arial', sans-serif; 
	color: blue;
}

.warning {
	background-color: red; 
	color: white;
}

p {
	color: grey;
}

p.warning a {
	color: #C5E7FD;
}

a {
	color: #047404;
}

a {
	color: yellow;
}

h1, h2, h3 {
	color: black;
	font-family: serif;
	font-size: 150%;
	background-color: blue;
}

