td, th {
	text-align: center !important;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 15px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
  text-align: left;
}

.reveal code {
    font-family: monospace;
}

pre code {
    display: block;
    background: white;
    color: #4d4d4c;
    padding: 0.5em;
}