.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.lesson {
  margin-top: 30px;
  border-top: 1px solid #E5E5E5;
  padding-top: 20px;
}

.lesson h2 {
  margin-bottom: 15px;
}