body{
	background-color: #000;
}

div#wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

div#header, div#footer{
	background-color: #787878;
	padding: 10px;
	clear: both;
	color: whi
}

div#content{
	background-color: #fff;
	/*float: left;*/
}

div.testbox{
	width: 300px;
	height: 200px;
	border: 2px solid yellow;
	margin: 8px;
	/*float: left;*/
}

div.red{
	background-color: red;
	/*position: relative;
	left: 10px;
	top: 20px;
	margin: 0 auto;*/

}

div.blue{
	background-color: blue;
	/*position: absolute;
	right: 25px;
	z-index: -4;*/
}

div.green{
	background-color: green;
}

p{
	padding: 5px;
	margin: 0px;
}

p.caption{
	background-color: #000;
	color: #fff;
	/*position: absolute;
	bottom: 10px;
	left: 5px;*/
}
